services:
  - type: web
    name: kcd-api
    env: python
    region: oregon
    plan: free
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: SECRET_KEY
        sync: false
      - key: ALGORITHM
        value: HS256
      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: "30"
      - key: FRONTEND_URL
        value: https://kcd-frontend-2.onrender.com
      - key: CORS_ORIGINS
        value: https://kcd-frontend-2.onrender.com
  - type: web
    name: kcd-frontend
    env: static
    region: oregon
    plan: free
    rootDir: .
    buildCommand: cd frontend && npm ci && npm run build
    staticPublishPath: frontend/dist
    envVars:
      - key: VITE_API_BASE_URL
        value: https://kcd-backend-xeak.onrender.com
